# Ignore undo directory
nvim/undo/** 

# Ignore all plugin without Vundle.vim
!nvim/bundle/
nvim/bundle/*
!nvim/bundle/Vundle.vim

nvim/plugged/
nvim/plugged/*

# Ignore link to colors directory inside bundle
nvim/colors
nvim/autoload
